<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SeeHearFeel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="/favicon.ico">
</head>

<body>
<nav>
<p><a href="/">SeeHearFeel</a> Life and Work</p>
<a href="/">Home</a>
<a href="/life/">Life</a>
<a href="/work/">Work</a>
<a href="/archive/">Archive</a>
<a href="/about/">About</a>
</nav>
</body>

</html>

